/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
	box-sizing: border-box;
}

/**body {
  background-color: lightblue;
}**/

.navbar-brand {
  margin-left: 20px;
}

.important {
  font-size: 70px;
  text-align: center;
}

.highlight {
  font-size: 30px;
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
}








 .image-align {
  display: flex;
  justify-content: center;
  } 

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

















@media only screen and (max-width: 1281px) {
  *, html, body, .row {
     margin-left:0 !important;
     margin-right:0 !important;
     padding-left:0 !important;
     padding-right:0 !important;
  }
}












.overflow {
  overflow: auto;
}


/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}
 
  @media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-47 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

[class*="col-"] {

	padding: 15px;
	<!-- border: 1px solid red; -->
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   


/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
	overflow-x:auto;
} */
